<div class="container bg-dark text-white py-3 mt-5 mb-5 rounded shadow border border-secondary">
  <div class="row justify-content-center">
    <div class="col-12 text-center mt-2">
      <h1 class="display-4">About Never-Board</h1>
    </div>

    <div class="col-12 text-center">
      <p class="lead fs-3">Your go-to store for the best tabletop games and accessories.</p>
    </div>

    <div class="col-10 col-md-8 text-center border-bottom border-secondary mb-4">
      <p class="lead">
        We are a locally owned board and tabletop game shop based in Winnipeg, Manitoba.
        Never-Board was founded in 2011; we have been happily operating since then and currently employ seven staff members.
        Here at Never-Board we specialize in a range of board games, trading card games, role-playing games, dice, playing mats, and other accessories.
        Never-board currently only operates out of one location in the Downtown Winnipeg Exchange District.
      </p>
    </div>

    <div class="col-12 text-center mb-4">
      <%= link_to "Browse Products", products_path, class: "btn btn-light btn-lg cart-button cart-btn"%>
    </div>
  </div>
</div>