<h1 class="text-center my-4 text-light">Welcome to Never-Board</h1>

<% if @query.present? || @category_id.present? %>
  <div class="container bg-dark p-5 rounded shadow-sm">
  <h2 class="text-light mb-4">Search Results</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <%= render partial: "product_card", collection: @products, as: :product %>
  </div>
</div>
<% else %>
  <div class="container bg-dark p-5 rounded shadow-sm">
    <h2 class="text-light mb-4">All Products</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <%= render partial: "product_card", collection: @products, as: :product %>
    </div>
  </div>
<% end %>
